.blo{
    height: 40px;
    width: 40%;
    //margin-left: 50%;
    --background:red;
    //margin-top: 20%;
    color:white;
  font-size: 1.1em;
  font-weight: bold;
}
.menu {
  color:white;
  font-size: 1.5em;
}