<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-icon name="home" class="menu" (click)="Back()"></ion-icon>
      <ion-title>Liste des utilisateurs </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
 
<div class="ion-padding">
  <input
  type="text"
  style="padding:8px;margin:15px auto;width:90%;"
  placeholder="Rechercher par le nom  "
  (keyup)="updateFilter($event)"
/>
   <!-- Theme classes dark, material, bootstrap -->
  <ngx-datatable   #myTable
    class="material fullscreen expandable"
    [limit]="5" 
    [rows]="rows" 
    [rowHeight]="60" 
    [columnMode]="'force'" 
    [sortType]="'multi'" 
    [headerHeight]="50" 
    [footerHeight]="50"
    [summaryRow]="true" [summaryPosition]="'top'"
    [scrollbarH]="true"
    (page)="onPage($event)"
    >
    <ngx-datatable-row-detail [rowHeight]="100" #myDetailRow (toggle)="onDetailToggle($event)">
      <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
        <div style="padding-left:35px;">
          <div><strong>Address</strong> :{{ row.adresse }} </div>
        <br/>
          <div><strong>Profil</strong> :{{ row.profil.libelle }}</div>
          <br/>
          <div><strong>Téléphone</strong> :{{ row.telephone }}</div>
        </div>
      </ng-template>
    </ngx-datatable-row-detail>
    <ngx-datatable-column
    [width]="50"
    [resizeable]="false"
    [sortable]="false"
    [draggable]="false"
    [canAutoResize]="false"
  >
    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
      <a
        href="javascript:void(0)"
        [class.datatable-icon-right]="!expanded"
        [class.datatable-icon-down]="expanded"
        title="Expand/Collapse Row"
        (click)="toggleExpandRow(row)"
      >
      </a>
    </ng-template>
  </ngx-datatable-column>
    <ngx-datatable-column name="Nom" [width]="70" [draggable]="false"></ngx-datatable-column>
    <ngx-datatable-column name="Prenom" [width]="70" [draggable]="false"></ngx-datatable-column>
    <!-- <ngx-datatable-column name="Profil" [width]="160" [draggable]="false"></ngx-datatable-column> -->
    <ngx-datatable-column name="Actions" [width]="auto" sortable="false" [draggable]="false">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>

        <ion-button   class="blo" shape="round" (click)="BloquerUser(row)" >
         Bloquer
        </ion-button>
  
        <ion-button class="blo" shape="round" (click)="DeleteUser(row)">
          Supprimer
        </ion-button>
  
  </ng-template>
    </ngx-datatable-column>
    
  </ngx-datatable>

</div>
</ion-content>
