<ion-tabs>
  <ion-tab-bar slot="bottom">
     <ion-tab-button tab="agence" >
         <ion-icon name="home"></ion-icon>
     </ion-tab-button>
     
      <!-- <ion-tab-button tab="about">
          <ion-icon src="assets/icon/information.svg"></ion-icon>
      </ion-tab-button> -->
      <ion-tab-button tab="commission" *ngIf="getRole()=='ROLE_Partenaire'">
          <ion-icon src="assets/icon/commis.svg"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="calcul">
          <ion-icon src="assets/icon/calculator.svg"></ion-icon>
      </ion-tab-button>
   </ion-tab-bar>
</ion-tabs>
