.active {
    color:#F8490C;
}

ion-tabs{
    --ion-tabs-background: transparent;
    background-color:none;
}

// .ion-tabs-color-active-positive, ion-tab-button{
//     color:#F8490C !important;
    
//     }