<!-- <ion-tabs>
  <ion-tab-bar slot="bottom">
     <ion-tab-button tab="home" class="active">
         <ion-icon src="assets/icon/home.svg"></ion-icon>

     </ion-tab-button>
  
      <ion-tab-button tab="about">
          <ion-icon src="assets/icon/information.svg"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="commission">
          <ion-icon src="assets/icon/commis.svg"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="/calcul">
          <ion-icon src="assets/icon/calculator.svg"></ion-icon>
      </ion-tab-button>
   </ion-tab-bar>
</ion-tabs> -->

