<ion-menu side="start" content-id="main-content"  >
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content  >
    <ion-list class="men">
      <ion-item >
        <ion-icon name="home" slot="start"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-item>
     
     <ion-item routerLink="//agence/list-depot" *ngIf="getRole()=='ROLE_Caissier'">
        <ion-icon src="assets/icon/depot.svg" slot="start"></ion-icon>
        <ion-label>Liste Dépots</ion-label>
      </ion-item> 
      <ion-item routerLink="/all-transactions" *ngIf="getRole()=='ROLE_Super-Admin'"> 
        <ion-icon src="assets/icon/all-transaction.svg" slot="start"></ion-icon>
        <ion-label>Les Transactions</ion-label>
      </ion-item>
      <ion-item lines="none" class="dec" (click)="OnLogout()" routerLink="">
        <ion-icon  name="log-out-outline"  slot="start"></ion-icon>
        <ion-label>Déconnexion</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main-content"></ion-router-outlet>