
  <div class="header">
  <div class="ion-text-center">
    
    <ion-icon  class="menu" src="assets/icon/menu.svg"> </ion-icon>
    <img src="assets/money_logo.png" alt="">
    <a routerLink="/home">
       <img  class="avatar" src="assets/sa.jpeg" >
    </a>

  </div>
  <div class="montant">
    <span> Mon solde disponible </span>
    <h1> 150 000  <small>F CFA</small></h1>
    <span>Mise a jour le 03/06/2021 à 13h 15 </span>
  </div>

</div>
<ion-list>

  <ion-item  >
    <ion-icon  slot="start" src="assets/icon/depot.svg"> </ion-icon>
    <ion-label>Dépot</ion-label>
    <ion-icon src="assets/icon/superieur.svg"> </ion-icon>
  </ion-item>
  <ion-item  animated>
    <ion-icon slot="start" src="assets/icon/retrait.svg"> </ion-icon>
    <ion-label>Retrait</ion-label>
    <ion-icon src="assets/icon/superieur.svg"> </ion-icon>
  </ion-item>
  <ion-item >
    <ion-icon  slot="start" src="assets/icon/transaction.svg"> </ion-icon>
    <ion-label>Mes transaction</ion-label>
    <ion-icon src="assets/icon/superieur.svg"> </ion-icon>
  </ion-item>
  <ion-item  >
    <ion-icon slot="start" src="assets/icon/all-transaction.svg"> </ion-icon>
    <ion-label>Toute les transactions</ion-label>
    <ion-icon src="assets/icon/superieur.svg"> </ion-icon>
  </ion-item>
  <ion-item >
    <ion-icon slot="start" src="assets/icon/commis.svg"> </ion-icon>
    <ion-label>Mes Commissions</ion-label>
    <ion-icon src="assets/icon/superieur.svg"> </ion-icon>
  </ion-item>
  <ion-item  animated>
    <ion-icon slot="start" src="assets/icon/calculator.svg"> </ion-icon>
    <ion-label>Calculateur de frais</ion-label>
    <ion-icon src="assets/icon/superieur.svg"> </ion-icon>
  </ion-item>
  <ion-item  animated>
    <ion-icon slot="start" src="assets/icon/exit.svg"> </ion-icon>
    <ion-label>Deconnexion</ion-label>
    <ion-icon src="assets/icon/superieur.svg"> </ion-icon>
  </ion-item>
</ion-list>


