<ion-content> 
  <div class="container">

    <ion-grid>
  
      <ion-row>
         <ion-col size-sm="6" offset-sm="2">
        <div class="haut">
          <ion-icon class="menu" name="home" (click)="Back()"> </ion-icon>
            <div class="ion-text-center">
            <img src="assets/money_logo.png" alt="">
          </div>
          <!-- <ion-icon name="business-sharp"></ion-icon> -->
          <h3 class="text"> Ajout Partenaire</h3>

          <hr>
        </div>
      </ion-col>
    </ion-row>
</ion-grid>
    <!--  debut formualire  -->
    <form [formGroup]="AgenceForm"   >
      <ion-grid>

        <ion-row>
            <ion-col size-sm="6" offset-sm="2">

              <ion-item no-padding class="animated fadeInUp">
                <ion-label position="floating">
                
                  Ninéa
                </ion-label>
                <ion-input color="secondary" type="number" formControlName="nin" name="ninea" [(ngModel)]="registerAgenceData.ninea" ></ion-input>
              </ion-item>
              <p ion-text class="text08" *ngIf="AgenceForm.get('nin').touched && AgenceForm.get('nin').hasError('required')">
                <ion-text color="warning">
                  Ce champ est obligatoire
                </ion-text>
              </p>
            </ion-col>
          </ion-row>

       
          <ion-row>
            <ion-col size-sm="6" offset-sm="2">   
      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
         
          Localisation
        </ion-label>
        <ion-input color="secondary" type="text" formControlName="local" name="localisation" [(ngModel)]="registerAgenceData.localisation"></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="AgenceForm.get('local').touched && AgenceForm.get('local').hasError('required')">
        <ion-text color="warning">
          Ce champ est obligatoire
        </ion-text>
      </p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size-sm="6" offset-sm="2"> 
      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
         
          Domaine d'Activité 
        </ion-label>
        <ion-input color="secondary" type="text" formControlName="dac" name="domaineActivite" [(ngModel)]="registerAgenceData.domaineActivite"></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="AgenceForm.get('dac').touched && AgenceForm.get('dac').hasError('required')">
        <ion-text color="warning">
          Ce champs est obligaoire 
        </ion-text>
      </p>

    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size-sm="6" offset-sm="2"> 
      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
        
         Nom Agence 
        </ion-label>
        <ion-input color="secondary" type="text" formControlName="nag" name="nomPartenaire" [(ngModel)]="registerAgenceData.nomPartenaire"></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="AgenceForm.get('nag').touched && AgenceForm.get('nag').hasError('required')">
        <ion-text color="warning">
          Ce champs est obligaoire 
        </ion-text>
      </p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size-sm="6" offset-sm="2"> 
       <div >
        <ion-button  class="enr" expand="block" shape="round"  (click)="registerAgence()" [disabled]="!AgenceForm.valid"
          >     
          Ajouter
        </ion-button>
  
  
  
      </div>
    </ion-col>
  </ion-row>

    </ion-grid>
    </form>

    <!-- fin formulaire  -->
</div>


</ion-content>
