.header{
    width: 100%;
    height: auto;
    background-color: #F3F3F3;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    margin-bottom: 20%;
   
    
    .menu{
        color: #07AEEF;
        margin-top: 25%;
        font-size:2.5em;
        position: relative;
        //left:2px;
    }
    img{
        width: 90px;
        height: 90px;
        margin-top:10%;
    }
    .avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: relative;
        // margin-left: 60px;
         margin-top: 20%;

    }  
    
}

ion-grid {
    height: 100%;
    justify-content: center;
}
.montant {
    width: 90%;
    height: auto;
    background-color:white ;
    border-bottom: #07AEEF 2px solid;
    border-radius: 10%;
    position: relative;
    margin: auto;
   // margin-top: 15%;
    //margin-bottom: 15%;
    padding: 10px;
     span {
         font-weight:bold;
         font-size: 1   em;
     }
     h1{
         color: #07AEEF;
         font-weight: bold;
         small{
             color: black;
         }
     }


}



ion-card{
     height: 100%;
     width:  100%;
    img {
        border-radius: 30%;
        width: 40%;
        margin-left: 25%;
        color: #51BFD0;
        position: absolute;
    }

     ion-card-title{
         color: #22497C;
         font-weight: bold;
         //margin-left: 15%;
         text-align: center;
         margin-top: 50%;
         
     }
     .lib{
         font-size: 1.3em ;
         font-weight: bold;
     }
     .libt{
        font-size: 1.5em ;
        font-weight: bold;
    }
    .libr{
        font-size: 1em ;
        font-weight: bold;
    }

}


@media screen and (min-width: 800px) {
    ion-card{
        height: 100%;
        width:  50%;
    }
   
  }
  