
  <div class="header">
    <div class="ion-text-center">
    
        <ion-menu-button  class="menu"></ion-menu-button>   
      <!-- <ion-icon  class="menu" src="assets/icon/menu.svg"> </ion-icon> -->
      <img src="assets/money_logo.png" alt="">
     
         <img  class="avatar" src="assets/sa.jpeg" >
     
  
    </div>
    <div class="montant">
      <span> Mon solde disponible </span>
      <h1> 150 000  <small>F CFA</small></h1>
      <span>Mise a jour le 03/06/2021 à 13h 15 </span>
    </div>
  
  </div>
  <!-- <ion-list>
  
    <ion-item button routerLink="/depot" >
      <ion-icon  slot="start" src="assets/icon/depot.svg"> </ion-icon>
      <ion-label>Dépot</ion-label>
      <ion-icon src="assets/icon/superieur.svg"> </ion-icon>
    </ion-item>
    <ion-item  animated button routerLink="/retrait">
      <ion-icon slot="start" src="assets/icon/retrait.svg"> </ion-icon>
      <ion-label>Retrait</ion-label>
      <ion-icon src="assets/icon/superieur.svg"> </ion-icon>
    </ion-item>
    <ion-item button routerLink="/mtransactions">
      <ion-icon  slot="start" src="assets/icon/transaction.svg"> </ion-icon>
      <ion-label>Mes transaction</ion-label>
      <ion-icon src="assets/icon/superieur.svg"> </ion-icon>
    </ion-item>
    <ion-item button routerLink="/all-transactions" >
      <ion-icon slot="start" src="assets/icon/all-transaction.svg"> </ion-icon>
      <ion-label>Toute les transactions</ion-label>
      <ion-icon src="assets/icon/superieur.svg"> </ion-icon>
    </ion-item>
    <ion-item button routerLink="/commission">
      <ion-icon slot="start" src="assets/icon/commis.svg"> </ion-icon>
      <ion-label>Mes Commissions</ion-label>
      <ion-icon src="assets/icon/superieur.svg"> </ion-icon>
    </ion-item>
    <ion-item  button routerLink="/calcul">
      <ion-icon slot="start" src="assets/icon/calculator.svg"> </ion-icon>
      <ion-label>Calculateur de frais</ion-label>
      <ion-icon src="assets/icon/superieur.svg"> </ion-icon>
    </ion-item>
    <ion-item  animated button routerLink="/login">
      <ion-icon slot="start" src="assets/icon/exit.svg"> </ion-icon>
      <ion-label>Deconnexion</ion-label>
      <ion-icon src="assets/icon/superieur.svg"> </ion-icon>
    </ion-item>
  </ion-list> -->


  





<ion-grid>
  <ion-row>
    <ion-col size="6"> 
      <ion-card>
        <a routerLink="/depot" style="text-decoration: none;">
        <img src="assets/depot.png" >
        <ion-card-header>
          <ion-card-title class="libt">Dépot</ion-card-title>
        </ion-card-header>
      </a>
      </ion-card>
    </ion-col>
    <ion-col size="6">
         
  <ion-card>
    <a routerLink="/retrait" style="text-decoration: none;">
    <img src="assets/retrait.jpg" >
    <ion-card-header>
      
      <ion-card-title class="libt">Retrait</ion-card-title>
    </ion-card-header>
  </a>
  </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="6">
      <ion-card>
        <a routerLink="/ajout-user" style="text-decoration: none;">
        <img src="assets/adduser.png" >
        <ion-card-header>
          
          <ion-card-title class="lib">Ajout Utilisateur</ion-card-title>
        </ion-card-header>
      </a>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <a routerLink="/agence/agence-create" style="text-decoration: none;">
        <img src="assets/ag.png" >
        <ion-card-header>
          
          <ion-card-title class="lib">Creer Agence</ion-card-title>
        </ion-card-header>
      </a>
      </ion-card>
    </ion-col>
  </ion-row>
   
</ion-grid>


  


