<ion-content>

  <div class="container">
     <app-header-transaction [depot]=page [src]=src></app-header-transaction>
   

  <div class="ion-padding">
  
     <!-- Theme classes dark, material, bootstrap -->
    <ngx-datatable   #myTable
    class="material fullscreen expandable"
    [limit]="4" 
    [rows]="rows" 
    [rowHeight]="60" 
    [columnMode]="'force'" 
    [sortType]="'multi'" 
    [headerHeight]="50" 
    [footerHeight]="50"
    [scrollbarH]="true"
    (page)="onPage($event)"
      >
      <ngx-datatable-row-detail [rowHeight]="auto" #myDetailRow (toggle)="onDetailToggle($event)">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
          <div style="padding-left:35px;">
            <div *ngIf="row.type==false" ><strong>Type</strong> : Dépot </div>
            <div *ngIf="row.type==true" ><strong>Type</strong> : Retrait </div>
          </div>
            </ng-template>
      </ngx-datatable-row-detail>
      <ngx-datatable-column
      [width]="50"
      [resizeable]="false"
      [sortable]="false"
      [draggable]="false"
      [canAutoResize]="false"
    >
      <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
        <a
          href="javascript:void(0)"
          [class.datatable-icon-right]="!expanded"
          [class.datatable-icon-down]="expanded"
          title="Expand/Collapse Row"
          (click)="toggleExpandRow(row)"
        >
        </a>
      </ng-template>
    </ngx-datatable-column>
      <ngx-datatable-column name="Date" [width]="100" [draggable]="false">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <div><strong>{{ row.dateEnvoie | date :  "y-MM-d" }}</strong> </div>
    </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Montant" [width]="100" [draggable]="false">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <div *ngIf="row.type==true"><strong>{{row.commissionRetrait}}</strong> </div>
          <div *ngIf="row.type==false"><strong>{{row.commissionEnvoi}}</strong> </div>
  </ng-template>
      </ngx-datatable-column>
     
      
    </ngx-datatable>

           
  
  </div>
  <ion-row>
    <ion-col size="8" >
      <ion-chip  outline style="border: solid 1px #FA4A0C">
      <ion-chip  style="background-color: #FA4A0C; color: white" class="chips" >Total</ion-chip>
        <ion-label>{{ t }} FCFA</ion-label>
      </ion-chip>
    </ion-col>
  </ion-row>
</div>  
</ion-content>
